@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
}

.hero {
  height: 100vh;
  background: url('https://res.cloudinary.com/diycpogap/image/upload/v1747151798/hero_bc43l9.jpg') no-repeat center center/cover;
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  padding: 100px 40px 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.25);
}

.logo {
  width: 480px;
  height: auto;
  margin-bottom: 40px;
}

.content {
  margin-top: 0;
  color: #fff;
}

.content h2 {
  font-size: 64px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 64px;
  margin-left: 64px;

}

.btn {
  padding: 15px 30px;
  margin-left: 64px;
  background: linear-gradient(to right, #475b9c, #d37047);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 24px;
  transition: background 0.3s;
}

.btn:hover {
  background: linear-gradient(to right, #3b4d84, #ba5f3c);
}

.nav-bar {
  padding: 40px 0;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar-content {
  text-align: center;
  margin-bottom: 30px;
}

.nav-bar-content h2 {
  color: #356E97;
  margin-bottom: 36px;
  margin-top: 36px;
  font-size: 48px;
}

.nav-bar-content p {
  font-size: 24px;
}

.container {
  display: flex;
  width: 90vw;
  max-width: 1400px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 36px;
  position: relative;
  left: 40px;
  top: 40px;
  margin: 0;
  opacity: 0;
}

.panel span {
  font-size: 32px;
  margin: 20px;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .panel {
    height: 60vh;
    margin: 10px 0;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
